<fieldset id="new_change_fieldset" class="span-10">
	<legend>New database change for <%=h @change.activity %></legend>
	<% form_for(@change, :url => app_activity_changes_path(@change.activity.app, @change.activity)) do |f| %>
    <%= render :partial => "changes/form", :locals => {:f => f} %>
    <p>
      <%= f.submit "Save & Execute", :disabled => !@change.activity.development? %>
      <%= f.submit "Only Save", :disabled => !@change.activity.development?, :id => 'save_submit', :name => 'save_submit' %>
    </p>
	<% end %>
</fieldset>
