<fieldset id="edit_change_fieldset">
	<legend>Edit database change for <%=h @activity %></legend>
	<a href="#" class="form_close" style="display: none;"><img src="/images/forms/x.gif" /></a>
	<% form_for(@change, :url => app_activity_change_path(@activity.app, @activity, @change)) do |f| %>
    <%= render :partial => "changes/form", :locals => {:f => f} %>
    <p>
      <%= f.submit 'Save & Execute', :name => 'edit_change_execute_button' %>
      <%= f.submit 'Only Save', :id => 'save_submit', :name => 'save_submit' %>
    </p>
	<% end %>
</fieldset>