<ul class="actions">
  <li><%= link_to 'New database instance', new_db_instance_path %></li>
</ul>

<h2>Database Instances - Development & Test</h2>
<%= render :partial => 'table', :locals => {:db_instances => @db_instances} %>

<% unless @db_instances_prod.empty? %>
  <h2>Database Instances - Production</h2>
  <%= render :partial => 'table', :locals => {:db_instances => @db_instances_prod} %>
<% end %>