<fieldset>
  <legend>New Database Instance</legend>
  <% form_for(@db_instance) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <p>
      <%= f.submit "Create Database Instance" %>
    </p>
  <% end %>
</fieldset>