<div class="clearfix">
  <div class="span-4">
    <p>
      <%= label_tag 'db_username', 'Database Username' %><br />
      <%= text_field_tag 'db_username', {}, :class => 'span-4' %>
    </p>
  </div>
  <div class="span-4 last">
    <p>
      <%= label_tag 'db_password', 'Database Password' %><br />
      <%= password_field_tag 'db_password', {}, :class => 'span-4' %>
    </p>
  </div>
</div>