<div class="span-8 clearfix">
  <div class="span-4">
    <%= label_tag 'db_username', 'Database Username' %><br />
    <%= text_field_tag 'db_username', {}, :class => 'span-4' %>
  </div>
  <div class="span-4 last">
    <%= label_tag 'db_password', 'Database Password' %><br />
    <%= password_field_tag 'db_password', {}, :class => 'span-4' %>
  </div>
</div>