<div>
  <div class="span-5">
    <%= label_tag :vc_username, 'Version Control Username' %><br />
    <%= text_field_tag :vc_username, {}, :class => "span-5" %>
  </div>
  <div class="span-5">
    <%= label_tag :vc_password, 'Version Control Password' %><br />
    <%= password_field_tag :vc_password, {}, :class => "span-5" %>
  </div>
</div>