@import url('/stylesheets/syntaxhighlighter.css');

.box.change {
  background:#F4F4F4;
  border: 2px solid #888;
}

.box.change.suggested h2 {
  border: 3px solid #AB3E1D;
  background:#D14D25;
  color:#FFF;
}

.box.change.saved h2 {
  border: 3px solid #AD8C3E;
  background:#FFCE5B;
}

.box.change.executed h2 {
  border: 3px solid #6D924B;
  background:#86B35C;
  color:#FFF;
}