<fieldset>
	<legend>Update version for <%=h @activity %></legend>
	<% form_for(@version, :url => app_activity_version_path(@activity.app, @activity, @version)) do |f| %>
	  <%= render :partial => 'form', :locals => {:f => f} %>
    <p>
      <%= f.submit "Update Version" %>
    </p>
	<% end %>
</fieldset>