<fieldset id="new_app_fieldset">
  <legend>Create new App</legend>
  <% form_for(app, :url => apps_path) do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <p>
      <%= f.submit "Create App" %>
    </p>
  <% end %>
</fieldset>