<fieldset id="edit_app_fieldset">
  <legend>Editing App <%= @app %></legend>
  <% form_for(@app, :url => app_path(@app)) do |f| %>
    <%= render :partial => 'shared/form_error', :locals => {:f => f} %>
    <%= render :partial => 'form', :locals => {:f => f} %>
    <p>
      <%= f.submit "Update App" %>
    </p>
  <% end %>
</fieldset>