<div id="app-list" class="span-12 border">
<% for app in @apps %>
  <div class="app">
    <%= render :partial => 'index', :locals => {:app => app} %>
  </div>
<% end %>
</div>

<div id="app_forms" class="span-12 last">
  <%= render :partial => 'new', :locals => {:app => @app} %>
</div>