<% if activity_show_dev_actions(activity) %>
<ul class="actions">
  <li class="destroy"><%= link_to 'Create Version', new_app_activity_version_path(activity.app, activity), :id => 'create_version_button' %></li>
  <li><%= link_to 'Suggest Change', new_app_activity_change_suggestion_path(activity.app, activity), :id => 'suggest_change_button' %></li>
</ul>
<% end %>