<fieldset id="new_activity_fieldset">
  <legend>Create new Activity</legend>
  <a href="#" class="form_close" style="display: none;"><img src="/images/forms/x.gif" /></a>
  <% form_for(activity, :url => app_activities_path(activity.app)) do |f| %>
    <%= render :partial => "form", :locals => {:f => f, :activity => activity} %>
    <p>
      <%= f.submit "Create Activity" %>
    </p>
  <% end %>
</fieldset>