<fieldset id="new_activity_fieldset">
  <legend>Create new Activity</legend>
  <a href="#" class="form_close" style="display: none;"><img src="/images/forms/x.gif" /></a>
  <% form_for(activity, :url => app_activities_path(app)) do |f| %>
    <%= f.hidden_field :state, :value => Activity::STATE_DEVELOPMENT %>
    <%= render :partial => "form", :locals => {:f => f, :app => app} %>
    <p>
      <%= f.submit "Create Activity" %>
    </p>
  <% end %>
</fieldset>