<div class="span-13 border">
  <%= render :partial => 'index', :locals => {:app => @app, :activities => @activities} %>
</div>

<div id="activity_forms" class="span-11 last">
  <%= render :partial => 'new', :locals => {:activity => @activity, :app => @app} %>
</div>