<% content_for :view_external_js do %>
  <%= javascript_include_tag "syntaxhighlighter/shCore", "syntaxhighlighter/shBrushSql" %>
<% end %>

<%= render :partial => "shared/activity", :locals => {:activity => @activity} %>
<div id="changes" class="span-13 border">
  <% unless @activity.changes.empty? %>
    <%= render :partial => "changes/change", :collection => @activity.changes %>
  <% else %>
    &nbsp;
  <% end %>
</div>

<div id="activity_forms" class="span-11 last">
  <%= render :partial => "changes/new", :locals => {:change => @change, :activity => @activity} %>
</div>